.Itinerary {
  text-align: center;
}
.Title{
  font-family: "Futura";
  color: rgba(64,147,164,255);
  font-size: 50px;
}

.ItineraryButton{
    background-color: rgba(64,147,164,255);  
    color: white;       
    border: 2px solid #014463;      
    border-radius: 10px;                  
    font-family: 'Futura', sans-serif;              
    cursor: pointer;
    margin-top: 20px;  
    width: 300px; 
    height: 40px; 
    font-size: 20px; 

}