.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding:50px; */
  background-color:rgba(64,147,164,255);
  height:100vh;
}

.center {
  text-align: center;
}

.LoginButton {
  background-color: white;      
  border: 2px solid #000;      
  border-radius: 10px;                  
  font-family: 'Futura', sans-serif;              
  cursor: pointer;
  margin-top: 20px;  
  width: 250px; 
  height: 60px; 
  font-size: 25px;            
}

.LoginButton:hover {
  background-color: #000;       
  color: white;                 
}

.LoginFields{
  font-family: "Futura";
}

.LoginFields input {
  font-family: 'Futura', sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.LoginFields input[type="text"]:focus, .LoginFields input[type="password"]:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
